.Navbar {
        display: flex;
        width: 100%;
        position: fixed;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur();
        border-bottom: 2px solid transparent;
        transition: 0.3s;
}

.navbar-left {
        font-size:x-large;
        font-weight: bold;
        background: -webkit-linear-gradient(rgb(12, 11, 11),rgba(153, 9, 9, 0.993));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        margin-right: 18rem;
}

.nav-menu {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
}

.nav-menu li {
        margin-right: 1rem;
        color: white;
        font-weight: bold;
        font-size: large;
        text-decoration: none;
}

.nav-menu li::after {
        content: ' ';
        position: absolute;
        height: 2px;
        left: 0;
        bottom: 0;
        width: 0;
        background-color: white;
        transition: width 0.4s;
}

.nav-menu li:hover::after {
        width: 100%;
        
}

.nav-menu li:hover {
        color: black;
        transform: scale(1.20);
        
}


@media (max-width: 992px) {
.navbar-center .nav-menu .hamburger-menu {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
}