* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portfolio {
    justify-content: space-between;
    background-image:-webkit-linear-gradient(left, #65000b 0%, #d3011c 74%) 
}

.container {
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        position: relative;
        overflow: hidden;
}

.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
}

.h1 {
        margin: 0;
        font-size: 3rem;
        font-weight: 300;     
}

.nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

.nav a {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

.nav a:hover {
    color: #a7a7a7;
}

.main_header {
    margin-top: 2rem;
    text-align: center;
    color: #fff;
    font-size: 70px;
}

.header {
    margin-top: 2rem;
    text-align: center;
    color: #fff;
}

.secondary_head {
    margin: 1rem 1rem;
    text-align: center;
    color: #fff;
    font-family: fantasy;
}

.contact_info {
    display: flex;
    margin: 2rem 2rem;
    justify-content: space-between;
}

.email img {
    display:inline-block;
    width: 35px;
    height: 30px;
}

.phone img {
    width: 30px;
    height: 30px;
}
.about{
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}
.about p {
    margin: 2rem 2rem;
    text-align: center;
    font-weight: 500;
    font-family: fantasy;
    font-size: larger;
    color: #fff;
}

.skill {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.project .pro_head {
    margin: 1rem;
    color: #65000b;
    font-size: large;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2rem 2rem;
}

.project .tile {
    flex: 1 0 300px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.project .tile .view {
    background-color: #910112;
    border-width: 0;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
}

.project .tile button:hover {
    transform: scale(1.05);
}

.project .tile:hover {
    transform: scale(1.05);
}

.project .more_pro {
    align-items: center;
}

.more_pro .view {
    background-color: transparent;
    transition-duration: 0.4s;
    border-width: 2px;
    border-color: black;
    border-radius: 8px;
    padding: 10px 40px;
    font-weight: bold;
    color: #fff;
}

.more_pro .view:hover {
    background-color: black;
    transform: scale(1.05);
}

.education {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

}

.cert {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

}
.experience {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

}
